.doctors-pagination-bar-container {
    background-color: #4259b3;
    display: flex;
}

table tr:nth-child(even) {
    background-color: #ddd !important;
}

.pagination-element {
    padding: 20px;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 20px;
}

.active-element {
    background-color: yellow;
    font-size: 1.5em;
}